@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply base font styles from UGA Brand Guide */
body {
  font-family: 'Lato', sans-serif;
  color: #252525; /* UGA Arch Black */
  background-color: #F5F5F5; /* A light gray for the body background */
}

/* Apply heading styles from UGA Brand Guide */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}
